canvas {
    margin-top: 50px;
    display: block;
    max-width: 1200px;
    margin: 0 auto; 
    border: 1px solid white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

body {
    background: #fff;
    /*background: gray;*/
    margin: 0px;
    padding: 0px;
}

.bg-color {
    background: #343a40;
}

.margin-top-110 {
    margin-top: 30px;
}

.margin-botton-50 {
    margin-bottom: 50px;
}

.logo {
    margin-top: 8px;
    margin-bottom: 8px;
}

.my-container-flex {
    max-width: 1200px;
    margin: 0 auto; 
}

.card-style {
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-item-flex {
    margin-top: 8px;
    flex: 1px;
    background-color: #f8f9fa;
    height: 120px;
    width: 1200px;
    font-size: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-clip: border-box;
}
